.App {
  padding: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.data-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 15px;
}
.data-item .name {
  width: 30%;
  text-align: center;
}
.data-item .buttons {
  display: flex;
  align-items: center;
}
.data-item .buttons button {
  cursor: pointer;
}
button.favorite {
  background-color: #000;
  color: #fff;
  border-radius: 3px;
}
button {
  width: 100px;
}
.data-item .buttons .detail-btn {
  margin-left: 20px;
}

.data-item img {
  width: 100px;
  height: 120px;
}

.detail {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 60px);
}
.detail #img {
  width: 40%;
  height: calc(100vh - 100px);
  max-width: fit-content;
}
.detail .info {
  width: 50%;
  height: calc(100vh - 60px);
  overflow: auto;
}
.detail .info #name-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail .info #des-view {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  padding: 15px 0;
  border-bottom: solid 1px #000;
}
.detail .info .episodes-list {
  /* height: calc(100vh - 220px);
  overflow: auto; */
  margin-top: 20px;
}
.airing {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px 7px;
  font-size: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 711px) {
  .App {
    padding: 10px;
  }
  .data-item {
    flex-direction: column;
  }
  .data-item .name {
    width: 100%;
    margin: 10px 0;
  }
  .data-item .buttons {
    margin-top: 10px;
  }

  .detail {
    flex-direction: column;
    align-items: center;
  }
  .detail #img {
    margin-bottom: 20px;
    height: fit-content;
  }
  .detail .info {
    width: 80%;
  }
  .detail .info .episodes-list {
    height: unset;
    overflow: unset;
    margin-top: 15px;
  }
}
